<table style="width:100%;border:none;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  {% assign pubs = site.publications %}  
  {% assign pubs = pubs | sort:"weight" %}  
  {% for post in pubs reversed %}
  <tr style="border:none">
    <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px;border:none">
      <img src="{{ base_path }}{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
    </td>
    <td style="padding:2.5%;width:75%;vertical-align:middle;border:none">
      <h1>{{post.title}}</h1>
      {{post.authors}}
      <br>
      <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
      <br>
      {% if post.arxiv %}
      <a href="{{post.arxiv}}">arxiv</a> /
      {% endif %}
      {% if post.pdf %}
      <a href="{{post.pdf}}">PDF</a> /
      {% endif %}
      {% if post.video %}
      <a href="{{post.video}}">video</a> /
      {% endif %}
      {% if post.code %}
      <a href="{{post.code}}">code</a> /
      {% endif %}
      {% if post.poster %}
      <a href="{{post.poster}}">poster</a> /
      {% endif %}
      {% if post.slides %}
      <a href="{{post.slides}}">slides</a> /
      {% endif %}
      <p></p>
      {{ post.excerpt }}
    </td>
  </tr>
  {% endfor %}
</table>