---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% capture home_path %}{{ base_path }}/keypointnet{% endcapture %}
    {% include masthead.html navigation=site.data.navigation_kpnet.main base_path=home_path title="KeypointNet"%}

    {% include scripts.html %}
    
    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>



  </body>
</html>
